{% extends "base.html" %}
{% include "nav.html" %}

{% block title %}Member List{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <!--<a href=""><button class="btn btn-primary float-end my-2">Add User</button></a>-->
    </div>
    <div class="row">

      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Role</th>
            <th scope="col">Update</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        
        <tbody>
          {% for member in members %}
              <tr>
                <th scope="row">{{  member[1].id  }}</th>
                <td>{{ member[0].firstName }}</td>
                <td>{{ member[0].lastName }}</td>
                <td>{{ member[0].email }}</td>
                <td>{{ member[1].role }}</td>
                <td>
                  <a href="{{  url_for('update_memberships', id=member[1].id)}}"><button class="btn btn-primary">Update User</button></a>
                </td>
                <td>
                    <form action="" method="post">
                        <input class="btn btn-danger" type="submit" name="delete" value="Delete User" onclick="return confirm('Are you sure?')">
                    </form>
                </td>
              </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
</div>

{% endblock %}