{% extends "base.html" %}

{% block title %}What's first?{% endblock %}

{% block content %}

<a href="{{ url_for('logout')  }}"><button>Logout</button></a>

<a href="{{ url_for('add_item')  }}"><button>New Item</button></a>


{% for post in all_posts %}

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h4 class="card-title">{{ post.title }}</h4>
            <h5 class="card-subtitle mb-2 text-muted">{{ post.subheading }}</h5>
            <p class="card-subtitle mb-2 text-muted">Created By: {{ post.author.firstName }} {{ post.author.lastName }}</p>
            <p class="card-text">{{ post.content }}</p>
            <p class="card-text">{{ post.dueDate  }}</p>
            <a href="{{  url_for('update_item', post_id=post.id)  }}" class="card-link">Update</a>
            <form action="{{  url_for('remove_item', post_id=post.id)  }}" method="post">
                <input class="btn" type="submit" name="delete" value="Delete" onclick="return confirm('Are you sure?')">
            </form>
        </div>
    </div>

    
{% endfor %}

{% endblock %}